<ion-view title="Add Tutor Time" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="addTutorTime-button-bar1" class="button-bar"></div>
    <form id="addTutorTime-form11" class="list">
      <label class="item item-input" id="addTutorTime-input18" name="nameofevent">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="addTutorTime-input20" name="office">
        <span class="input-label">Office</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="addTutorTime-input14">
        <span class="input-label">Date</span>
        <input type="date" placeholder="">
      </label>
      <ion-item class="range range-positive" id="addTutorTime-range1">Recurring Times
        <input type="range" value="1" min="1" max="50" step="1" name="recurringtimes">
      </ion-item>
      <ion-checkbox id="addTutorTime-checkbox2">Recurring?</ion-checkbox>
    </form>
  </ion-content>
</ion-view>