<ion-view title="Login" id="page5">
  <ion-content padding="true" style="background: url(img/DEPtJoA9SsvhCuHSOZLN_light_grey.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 35px;"></div>
    <h1 id="login-heading1" style="color:#000000;font-weight:300;text-align:center;">Welcome.</h1>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="tabsController.schedule" id="login-button1" class="button button-dark  button-block">Log in</a>
      <a ui-sref="signup" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>