<ion-view title="Options" id="page3">
  <ion-content padding="true" style="background: url(img/1XMMRpDCQdSOQ7jpQoBN_light_grey.png) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="options-heading3" style="color:#000000;font-weight:300;text-align:center;"></h1>
    <form id="options-form3" class="list">
      <label class="item item-input" id="options-input7">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="options-input9">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
      <button id="options-button6" class="button button-positive  button-block icon-left ion-android-checkbox-outline">Update Info</button>
      <button id="options-button5" class="button button-stable  button-block icon-left ion-android-exit">Admin Settings</button>
    </form>
  </ion-content>
</ion-view>