<script src="lib/ion-datetime-picker/release/ion-datetime-picker.min.js"></script>
<link href="lib/ion-datetime-picker/release/ion-datetime-picker.min.css" rel="stylesheet">

<ion-view title="Schedule" id="page2">
  <ion-content padding="true" style="background: url(img/crMgVSq2S06XnlWXeH9J_light_grey.png) no-repeat center;background-size:cover;" class="has-header">
    <button id="schedule-button7" ui-sref="addTutorTime" class="button button-light  button-block icon-left ion-ios-plus">Add a Tutor Time</button>
  </ion-content>
</ion-view>