<ion-view title="Signup" id="page6">
  <ion-content padding="true" style="background: url(img/EFQi3EsRRZWLv2H8OC8e_light_grey.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <h1 id="signup-heading2" style="color:#000000;font-weight:300;text-align:center;">Get Started.</h1>
    <div class="spacer" style="height: 20px;"></div>
    <form id="signup-form2" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3" name="name">
          <span class="input-label">Full Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4" name="email">
          <span class="input-label">Email</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5" name="password">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-select" id="signup-select1" name="user_type">
          <span class="input-label">User Type</span>
          <select>
            <option>Student</option>
            <option>Teaching Assistant</option>
            <option>Professor</option>
          </select>
        </label>
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Authentication Code</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="signup-button3" class="button button-dark  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>